@model Gradify.Dto.ProfessorLeituraDto

@{
    ViewData["Title"] = "Detalhes do Professor";
}

<h1 class="mb-4 text-center">
    <i class="fas fa-chalkboard-teacher"></i> @ViewData["Title"]
</h1>

<div class="card p-4 shadow rounded-4 bg-light">
    <p class="mb-2">
        <i class="fas fa-id-badge"></i>
        <strong>ID:</strong> @Model.Id
    </p>

    <p class="mb-0">
        <i class="fas fa-user"></i>
        <strong>Nome:</strong> @Model.Nome
    </p>
</div>

<div class="mt-4 text-center">
    <a href="@Url.Action("Index", "Professor")" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i> Voltar
    </a>
</div>