@model Gradify.Dto.TurmaLeituraDto

@{
    ViewData["Title"] = "Excluir Turma";
}

<h1>Tem certeza que deseja excluir esta turma?</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Matéria</dt>
        <dd class="col-sm-10">@Model.Materia</dd>

        <dt class="col-sm-2">Dia da Aula</dt>
        <dd class="col-sm-10">@Model.DiaDaAula</dd>

        <dt class="col-sm-2">Professor</dt>
        <dd class="col-sm-10">@Model.ProfessorNome</dd>
    </dl>
</div>

<form asp-action="Excluir">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>